<div class="columns">
  <div class="column col-5 request-key-column">
    <div class="form-group">
      <%= f.text_field :key, class: 'form-input request-input-key', placeholder: 'key' %>
    </div>
  </div>
  <div class="column col-5 request-value-column">
    <div class="form-group">
      <%= f.text_field :value, class: 'form-input request-input-value', placeholder: 'value' %>
    </div>
  </div>
</div>
